extends layoutBS

block content
  .body
    .margin
      .row
        .col-12.text-center
          h1.text-center SON
          input.btTxt.submit(type="image" src="/images/microphone.png" name="saveForm" width="20" align="middle")
      br
      .row
        .col-5
          label Title 
          br
          form(method="post" action="saveInput")
            textarea(name="title" rows="2" cols="50")
            br
            br
            form
              .form-row
                .formGroup.col-2
                  label Start 
                .formGroup.col-10.text-right
                  input(type="date" name="start")
              br
              .form-row
                .formGroup.col-2
                  label End 
                .formGroup.col-10.text-right
                  input(type="date" name="end")
              br
              .form-row
                .formGroup.col-2
                  label Url 
                .formGroup.col-10.text-right
                  input(type="text" name="url")
              hr
              input.text-center.btn.btn-success(type="submit" style="background-color: #3c7045;")
        .col-1
        .col-4
          form(method="post" action="deleteInput")
            .card(style="width: 35rem;")
              .card-header
                | Schedule for today
              ul.list-group.list-group-flush
                each input in inputs
                  input(name="deleteName" value=input.content type="checkbox")
                  li.list-group-item #{input.title}, #{input.start}, #{input.end}, #{input.url}
              input(type="submit" value="Delete checked items")
                
                
          
