extends layoutBS

block head
  script(src="/js/friend.js")
  
block content
  br
  br
  br
  style.
    html,body,h1,h2,h3,h4,h5 {font-family: "RobotoDraft", "Roboto", sans-serif}
    .w3-bar-block .w3-bar-item {padding: 16px}
  body
    // Side Navigation
    nav#mySidebar.w3-sidebar.w3-bar-block.w3-collapse.w3-white.w3-animate-left.w3-card(style="z-index:3;width:320px;")
      h3.w3-text-wide &nbsp&nbsp MY FRIENDS
      a.w3-bar-item.w3-button(href="/friend1")
        i.fa.fa-hourglass-end.w3-margin-right
        | Add new friends
      a.w3-bar-item.w3-button.w3-teal(onclick="myFunc('Demo1')" href="javascript:void(0)")
        i.fa.fa-inbox.w3-margin-right
        | All friends
        i.fa.fa-caret-down.w3-margin-left
      #Demo1.w3-hide.w3-animate-left
        .w3-container
          each f in friend
            // now onclick is passed into as a string, how to give it the value
            a.w3-bar-item.w3-button.w3-border-bottom.test.w3-hover-light-grey(friend_id= f._id href="javascript:void(0)" onclick="openMail(event);w3_close();")
              .w3-container
                img.w3-round.w3-margin-right(src="../images/man.png" style="width:20%;")
                span.w3-text-dark-grey #{f.friendname}
    // Overlay effect when opening the side navigation on small screens
    #myOverlay.w3-overlay.w3-hide-large.w3-animate-opacity(onclick="w3_close()" style="cursor:pointer" title="Close Sidemenu")
    // Page content
    .w3-main(style="margin-left:320px;")
      if checkStatus
        h5.w3-text-black #{checkedFriend}, #{checkedTime}, #{checkedDate}
        h5.w3-text-black Check result: #{checkStatus}!
      each f in friend
        form(method="post" action="check_avail")
          .w3-container.person(id= f._id)
            br
            img.w3-round.w3-animate-top(src="../images/man.png" style="width:20%;")
            .row
              .col-7 
              .col-2
                a.w3-button.w3-teal(role="button" name = "send_event" href="/calendar/sendCalendar/"+f._id value = "send_event") Send Event
                //-.w3-button.w3-teal(onClick="window.open("/calendar/sendCalendar"+ f._id)") Send Event
                //-.w3-button.w3-teal(onClick="window.open("/calendar/sendCalendar"+ f._id)") Send Event
              .col-2
                .w3-container
                  button.w3-button.w3-teal(friend_id= f._id onclick="openModal(event)") Check Availability
                  .w3-modal(id= f._id+"modal")
                    .w3-modal-content.w3-card-4.w3-animate-zoom(style="max-width: 600px")
                      .w3-center
                        span.w3-button.w3-xlarge.w3-hover-red.w3-display-topright(friend_id= f._id title="Close Modal" onclick="closeModal(event)") X
                        img.w3-circle.w3-margin-top(src="../images/man.png" alt="Avatar" style="width:30%")
                        br
                        label #{f.friendname}
                        .w3-container
                          .margin
                            .w3-section
                              b Check Time
                              .row
                                input(type="hidden" name="friendEmail" value=f.friend)
                                input(type="hidden" name="friendName" value=f.friendname)
                                .col-6
                                  input.w3-input.w3-border(type="date" name="checkDate")
                                .col-6
                                  input.w3-input.w3-border.w3-margin-buttom(type="text" placeholder="e.g. 10:20" name="checkTime")
                              br
                              input.w3-button.w3-block.w3-teal.w3-section.w3-padding(type="submit" value="Start Checking")
                              br
            hr
            .w3.text-dark-grey
              p
                i.fa.fa-pencil.fa-fw.w3-margin-right.w3-text-theme
                |  #{f.friendname}
              p
                i.fa.fa-male.fa-fw.w3-margin-right.w3-text-theme
                |  #{f.friend}
