extends layoutBS

block head
  script(src="/js/friend.js")
  
block content
  br 
  br
  br
  style.
    html,body,h1,h2,h3,h4,h5 {font-family: "RobotoDraft", "Roboto", sans-serif}
    .w3-bar-block .w3-bar-item {padding: 16px}
  body
    // Side Navigation
    nav#mySidebar.w3-sidebar.w3-bar-block.w3-collapse.w3-white.w3-animate-left.w3-card(style="z-index:3;width:320px;")
      a#021.w3-bar-item.w3-button(onclick="document.getElementById('id0211').style.display='block'")
        i.fa.fa-reddit-alien.w3-margin-right
        | CHECK AVAILABLE FRIENDS
      #id0211.w3-modal
        .w3-modal-content.w3-card-4.w3-animate-zoom(style="max-width: 600px")
          .w3-center
            form(method="post" action="guess_free")
              span.w3-button.w3-xlarge.w3-hover-red.w3-display-topright(onclick="document.getElementById('id0211').style.display='none'") X
              br
              label GUESS WHO ARE FREE
              .w3-container
                .margin
                  .w3-section
                    b Check Time
                    input(type="hidden" name="currUser" id="currUser" value=userEmail)
                    input(type="hidden" name="currUserID" id="currUserID" value=userID)
                    .row
                      .col-6
                        input.w3-input.w3-border(type="date" name="checkDate" id="checkDate")
                      .col-6
                        input.w3-input.w3-border.w3-margin-buttom(type="text" placeholder="e.g. 10:20" name="checkTime" id="checkTime")
                    br
                    input.w3-button.w3-block.w3-teal.w3-section.w3-padding.guess-free(type="button" value="Start Checking")
                    br 
      a.w3-bar-item.w3-button(href="/searchPage")
        i.fa.fa-hourglass-end.w3-margin-right
        | Add New Friends
      a.w3-bar-item.w3-button
        .w3-button.fa.fa-inbox.w3-left(onclick="myFunc('mygroup')" href="javascript:void(0)")
        | Friend Groups 
        i.fa.fa-caret-down.w3-margin-left
        .w3-button.fa.fa-bars.w3-hover-teal.w3-right(onclick="document.getElementById('addGroup').style.display='block'")
        #addGroup.w3-modal
          .w3-modal-content.w3-card-4.w3-animate-zoom(style="max-width: 600px")
            .w3-center
              br
              p Create New Groups 
              br
              br
              .w3-button(onclick="document.getElementById('addGroup').style.display='none'") DONE
          
      #mygroup.w3-hide
        each g in friendsInGroup.keys()
          a.w3-bar-item.w3-button.w3-border-bottom.test.w3-hover-light-grey(friend_id = g href="javascript:void(0)" onclick="openMail(event);w3_close();")
            .w3-container
              span.w3-text-dark-grey  #{g}
      a.w3-bar-item.w3-button.w3-teal(onclick="myFunc('allfriends')" href="javascript:void(0)")
        i.fa.fa-inbox.w3-margin-right
        | My Friends
        i.fa.fa-caret-down.w3-margin-left
      #allfriends.w3-hide.w3-animate-left.w3-show
        .w3-container
          each p in profiles
            // now onclick is passed into as a string, how to give it the value
            a.w3-bar-item.w3-button.w3-border-bottom.test.w3-hover-light-grey(friend_id = p._id href="javascript:void(0)" onclick="openMail(event);w3_close();")
              .w3-container
                img.w3-round.w3-margin-right(src="../images/" +p.image+ ".png" style="width:20%;")
                span.w3-text-dark-grey #{p.name}
    // Overlay effect when opening the side navigation on small screens
    #myOverlay.w3-overlay.w3-hide-large.w3-animate-opacity(onclick="w3_close()" style="cursor:pointer" title="Close Sidemenu")
    // Page content
    .w3-main(style="margin-left:320px;") 
      br
      each g in friendsInGroup.keys()
        .w3-container.person(id = g style="display:none")
          each p in friendsInGroup.get(g)
            // now onclick is passed into as a string, how to give it the value
            img.w3-round.w3-margin-right(src="../images/" +p.image+ ".png" style="width:5%;")
            span.w3-text-dark-grey #{p.name}
            br
            br
          br
          .w3-button.w3-teal.w3-right SEND EVENTS
      br
      each p in profiles
        .w3-container.person(id= p._id style="display:none")
          form(method="post" action="check_avail")
            button.w3-button.w3-padding.w3-light-grey.w3-hover-teal(friend_id= p._id onclick="openModal1(event);w3_close();") 
              b #{p.name}
            each noti in notis
              if noti.from == p.email && noti.to == profile.email
                .container
                  .w3-panel.w3-light-grey.w3-card-4
                    br
                    img(src = "../images/" +p.image+ ".png" alt = "Avatar" width = "20%")
                    form(method="post" action="update_event")
                      input(type="hidden" id ="id"+noti._id value=noti._id)
                      input.form-control(id ="from"+noti._id type="hidden" value=noti.from)
                      input.form-control(id ="fromname"+noti._id type="hidden" value=noti.fromname)
                      input.form-control(id ="title"+noti._id type="hidden" value=noti.title)
                      input.form-control(id ="description"+noti._id type="hidden" value=noti.description)
                      input.form-control(id ="startDate"+noti._id type="hidden" value=noti.sDate)
                      input.form-control(id ="startTime"+noti._id type="hidden" value=noti.sTime)
                      input.form-control(id ="endDate"+noti._id type="hidden" value=noti.eDate)
                      input.form-control(id ="endTime"+noti._id type="hidden" value=noti.eTime)
                      if noti.type == "event invitation"
                        .row
                          .col-12
                            p.font-weight-bold Title: #{noti.title}
                            if noti.description
                              p Description: #{noti.description}
                          .col-12
                            p Start Time: &nbsp #{noti.sDate} #{noti.sTime}  
                            if noti.eDate
                              p End Time: &nbsp #{noti.eDate} #{noti.eTime}
                        if noti.status == "Waiting"
                          .row
                            .col-8
                            .col-2
                              input.w3-button.w3-teal.accept-event(id = "add"+noti._id type="button" name = "add" value = "Add" nid=noti._id)
                            .col-2
                              input.w3-button.w3-red.decline-event(id = "decline"+noti._id type="button" name = "decline" value = "Decline" nid=noti._id)
                        else 
                          p Status: &nbsp #{noti.status}
                        br
                      else 
                        .row
                          .col-12
                            p #{noti.title}
                        br
                    br
                  span.time-right #{noti.time}
              if noti.from == profile.email && noti.to == p.email 
                .container.darker
                  .w3-panel.w3-light-grey.w3-card-1
                    img.right(src = "../images/" +profile.image+ ".png" alt = "Avatar" width = "20%")
                    p.font-weight-bold Title: #{noti.title}
                    if noti.description
                      p Description: #{noti.description}
                    p Start Time: &nbsp #{noti.sDate} #{noti.sTime}  
                    if noti.eDate
                      p End Time: &nbsp #{noti.eDate} #{noti.eTime} 
                    p Status: #{noti.status}
                  span.time-left #{noti.time}
            br
            a.w3-button.w3-teal(role="button" name = "send_event" href="/calendar/sendCalendar/"+p._id value = "send_event") Send Event
            .w3-modal(id= p._id+"profile" style="display:none")
              .w3-modal-content.w3-card-4.w3-animate-zoom(style="max-width: 800px")
                .margin
                  br
                  span.w3-button.w3-xlarge.w3-hover-red.w3-display-topright(friend_id= p._id title="Close Modal" onclick="closeModal1(event)") X
                  img.w3-round.w3-animate-top(src="../images/" +p.image+ ".png" style="width:20%;")
                  .row
                    .col-9
                    .col-             
                      .w3-container
                        button.w3-button.w3-teal(friend_id= p._id onclick="openModal(event)") Check Availability
                        .w3-modal(id= p._id+"modal")
                          .w3-modal-content.w3-card-4.w3-animate-zoom(style="max-width: 600px")
                            .w3-center
                              span.w3-button.w3-xlarge.w3-hover-red.w3-display-topright(friend_id= p._id title="Close Modal" onclick="closeModal(event)") X
                              img.w3-circle.w3-margin-top(src="../images/" +p.image+ ".png" alt="Avatar" style="width:30%")
                              br
                              label #{p.name}
                              .w3-container
                                .margin
                                  .w3-section
                                    b Check Time
                                    .row
                                      input(type="hidden" name="friendEmail" id="friendEmail"+p._id value=p.email)
                                      input(type="hidden" name="friendName" id="friendName"+p._id value=p.name)
                                      .col-6
                                        input.w3-input.w3-border(type="date" name="checkDate" id="checkDate"+p._id)
                                      .col-6
                                        input.w3-input.w3-border.w3-margin-buttom(type="text" placeholder="e.g. 10:20" name="checkTime" id="checkTime"+p._id)
                                    br
                                    input.w3-button.w3-block.w3-teal.w3-section.w3-padding.check-avail-submit#check(type="button" value="Start Checking" name="check_avail" fid=p._id)
                                    br
                  hr
                  .w3.text-dark-grey
                    p
                      i.fa.fa-pencil.fa-fw.w3-margin-right.w3-text-theme
                      |  #{p.name}
                    p
                      i.fa.fa-male.fa-fw.w3-margin-right.w3-text-theme
                      |  #{p.email}
                    p
                      i.fa.fa-home.fa-fw.w3-margin-right.w3-text-theme
                      |  #{p.home}
                    p
                      i.fa.fa-birthday-cake.fa-fw.w3-margin-right.w3-text-theme
                      |  #{p.dob}
                    p
                      i.fa.fa-phone.fa-fw.w3-margin-right.w3-text-theme
                      |  #{p.phone}
                    p
                      i.fa.fa-hand-peace-o.fa-fw.w3-margin-right.w3-text-theme
                      |  #{p.about}
                  br
                  br
                  input(type="hidden" name="userEmail" value=userEmail)
                  input.w3-button.w3-red(type="submit" name = "delete_friend" value = "Delete Friend")
                  br                                         
      br
      br
      br
      br
      br
      br
