extends layoutBS

block content
  br
  br
  br
  style.
    html,body,h1,h2,h3,h4,h5 {font-family: "RobotoDraft", "Roboto", sans-serif}
    .w3-bar-block .w3-bar-item {padding: 16px}
    
  body

    nav#mySidebar.w3-sidebar.w3-bar-block.w3-collapse.w3-white.w3-animate-left.w3-card(style="z-index:3;width:320px;")
      a.button.w3-bar-item.w3-button.tablink(onclick="openTab(event, 'AllNotifications')") 
        i.fa.fa-table.w3-margin-right 
        | All Notifications
      //- a.button.w3-bar-item.w3-button.tablink(onclick="openTab(event, 'ScheduleReminder')") 
      //-   i.fa.fa-table.w3-margin-right 
      //-   | Scehdule Reminder
      a.button.w3-bar-item.w3-button.tablink(onclick="openTab(event, 'FriendRequest')")
        i.fa.fa-vcard-o.w3-margin-right
        | Friend Request
      a.button.w3-bar-item.w3-button.tablink(onclick="openTab(event, 'EventInvitation')") 
        i.fa.fa-bell-o.w3-margin-right
        | Event Invitation
    div(style='margin-left:330px')
      #AllNotifications.w3-container.tab
        each noti in notis
          if noti.type == "friend request"
            .w3-panel.w3-light-grey
              p #{noti.content}
              br
              form(method="post" action="")                      
                input.form-control(name="from" type="hidden" value=noti.from)
                input.form-control(name="fromname" type="hidden" value=noti.fromname)
                .row
                  .col-8
                  .col-2
                    input.w3-button.w3-teal(type='submit' name = "accept" value="Accept") 
                  .col-1
                    input.w3-button.w3-red(type='submit' name = "cancel" value="Cancel")     
          if noti.type == "event invitation"
              .w3-panel.w3-light-grey.w3-card-4
                p #{noti.content}
                p
                form.form-inline.mr-auto(method="post" action="")                      
                  input.form-control(name="from" type="hidden" value=noti.from)
                  input.form-control(name="fromname" type="hidden" value=noti.fromname)
                  .row
                    .col-12
                      p.font-weight-bold #{noti.title}
                      p #{noti.description}
                    .col-12
                      p Start Time: &nbsp #{noti.sDate} #{noti.sTime}  
      //- #ScheduleReminder.w3-container.tab(style='display:none')
      //-   | In schedule reminder
      #FriendRequest.w3-container.tab(style='display:none')
        each noti in notis
          if noti.type == "friend request"
            .w3-panel.w3-light-grey
              p #{noti.content}
              br
              form(method="post" action="")                      
                input.form-control(name="from" type="hidden" value=noti.from)
                input.form-control(name="fromname" type="hidden" value=noti.fromname)
                .row
                  .col-8
                  .col-2
                    input.w3-button.w3-teal(type='submit' name = "accept" value="Accept") 
                  .col-1
                    input.w3-button.w3-red(type='submit' name = "cancel" value="Cancel")  
      #EventInvitation.w3-container.tab(style='display:none')
        each noti in notis
          if noti.type == "event invitation"
              .w3-panel.w3-light-grey.w3-card-4
                p #{noti.content}
                p
                form.form-inline.mr-auto(method="post" action="")                      
                  input.form-control(name="from" type="hidden" value=noti.from)
                  input.form-control(name="fromname" type="hidden" value=noti.fromname)
                  input.form-control(name="title" type="hidden" value=noti.title)
                  input.form-control(name="description" type="hidden" value=noti.description)
                  input.form-control(name="startDate" type="hidden" value=noti.sDate)
                  input.form-control(name="startTime" type="hidden" value=noti.sTime)
                  input.form-control(name="endDate" type="hidden" value=noti.eDate)
                  input.form-control(name="endTime" type="hidden" value=noti.eTime)
                  .row
                    .col-12
                      h5 #{noti.content}
                    .col-12
                      h5.font-weight-bold #{noti.title}
                        h5 #{noti.description}
                    .col-12
                      h5 Start Time: &nbsp #{noti.sDate} #{noti.sTime}
                      h5 End Time: &nbsp #{noti.eDate} #{noti.eTime}
                  .row
                    .col-6
                      input.w3-button.w3-teal(type='submit' name = "add" value="Add") 
                    .col-6
                      input.w3-button.w3-teal(type='submit' name = "decline" value="Decline") 

          
  script.
    function openTab(evt, tabName) {
    var i, x, tablinks;
    x = document.getElementsByClassName("tab");
    for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-teal", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " w3-teal";
    }
