extends layoutBS

block head
  script(src="/js/notification.js")

block content
  body
    br
    br
    br
    br
    .margin
      h4.text-monospace Notifications
      .row 
        .col-4
          #list-tab.list-group(role="tablist")
            a#list-reminder-list.list-group-item.list-group-item-action.active(data-toggle="list" href="#schedulereminder" role="tab" aria-controls="reminder") Schedule Reminder
            a#list-request-list.list-group-item.list-group-item-action(data-toggle="list" href="#friendrequest" role="tab" aria-controls="request") Friend Request
            a#list-invitation-list.list-group-item.list-group-item-action(data-toggle="list" href="#eventinvitation" role="tab" aria-controls="invitation") Event Invitation
        .col-8
          #nav-tabContent.tab-content

            #schedulereminder.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="list-event-list")
            
            #friendrequest.tab-pane.fade(role="tabpanel" aria-labelledby="list-request-list")
              each noti in notis
                .card.bg-light.mb-3(style="max-width: 50rem;")
                  .card-header 
                    | Friend request
                    .alignright.text-monospace now
                  .card-body
                    form.form-inline.mr-auto(method="post" action="")                      
                      input.form-control(name="from" type="hidden" value=noti.from)
                      input.form-control(name="fromname" type="hidden" value=noti.fromname)
                      h5.font-weight-bold #{noti.content}
                      br
                      br
                      input.w3-button.w3-teal(type='submit' name = "accept" value="Accept") 
                      input.w3-button.w3-teal(type='submit' name = "cancel" value="Cancel") 

              //-each input in inputs
                .card.bg-light.mb-3(style="max-width: 50rem;")
                  .card-header 
                    | Reminder
                    .alignright.text-monospace now
                  .card-body
                    h5.font-weight-bold #{input.title}
                    p.card-text

                      | Remind me to #{input.title} at #{input.start}
            #eventinvitation.tab-pane.fade(role="tabpanel" aria-labelledby="list-invitation-list")
              | lollllll
