extends layoutBS

block content
  body
    .margin
      h4.text-monospace Notifications
      .row 
        .col-4
          #list-tab.list-group(role="tablist")
            a#list-reminder-list.list-group-item.list-group-item-action.active(data-toggle="list" href="#schedulereminder" role="tab" aria-controls="reminder") Schedule Reminder
            a#list-request-list.list-group-item.list-group-item-action(data-toggle="list" href="#friendrequest" role="tab" aria-controls="request") Friend Request
            a#list-invitation-list.list-group-item.list-group-item-action(data-toggle="list" href="#eventinvitation" role="tab" aria-controls="invitation") Event Invitation
        .col-8
          #nav-tabContent.tab-content

            #schedulereminder.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="list-event-list")


              each input in inputs
                .card.bg-light.mb-3(style="max-width: 50rem;")
                  .card-header 
                    | Reminder
                    .alignright.text-monospace now
                  .card-body
                    h5.font-weight-bold #{input.title}
                    p.card-text

                      | Remind me to #{input.title} at #{input.start}
      
              
            #friendrequest.tab-pane.fade(role="tabpanel" aria-labelledby="list-request-list")
<<<<<<< HEAD
              | lollll
=======
              each noti in notis
                .card.bg-light.mb-3(style="max-width: 50rem;")
                  .card-header 
                    | Friend request
                    .alignright.text-monospace now
                  .card-body
                    h5.font-weight-bold #{noti.content}
                    h5.font-weight-bold #{noti.email}
                    h5.font-weight-bold #{noti.from}
                    button() accept
                    button() cancel
>>>>>>> 7c088e236d3cdcd61521d00e5d21b5ef8d4d0357

            #eventinvitation.tab-pane.fade(role="tabpanel" aria-labelledby="list-invitation-list")
              | lollllll
