extends layoutBS

block content
    .body
      .margin
        h2.text-monospace SON
          .margin2
        hr 
        br
        h3.text-monospace.font-weight-bold Profile
        br
          
        form.text-monospace(method="post" action="saveProfile")
          .row.text-monospace
            .formGroup.col-md-4
              label Name
            .formGroup.col-md-6
              input.form-control(name="name" type="text" value=user.googlename)
          br
          .row.text-monospace
            .formGroup.col-md-4
              label Email
            .formGroup.col-md-6
              input.form-control(name="email" type="email" value=user.googleemail)
          br
          .row.text-monospace
            .formGroup.col-md-4
              label Phone Number
            .formGroup.col-md-6
              input.form-control(name="phone" type="text" value=profile.phone)
          br
          .row.text-monospace
            .formGroup.col-md-4
              label Gender
            .formGroup.col-md-6
              select.text-monospace(name="gender").form-control
                option(selected="") #{profile.gender}
                option Male
                option Female
                option Other
          br
          .row.text-monospace
            .formGroup.col-md-4
              label Date of Birth
            .formGroup.col-md-6
              input.form-control(name="dob" type="date" value=profile.dob)
          br
          input.btn.btn-warning.btn-lg(type="submit" value="SAVE")
          br
          br
          br
