extends layoutBS

block content
  body
    if message
      h1= message
    .container
      form.form-inline.mr-auto(method="post" action="searchProfile")
        input.form-control.mr-sm-2(name="searchfriend" type='text', placeholder='Search a friend gmail', aria-label='Search')
        button.btn.btn-primary(type='submit') Search
    .container
        br
        | #{friend.name}
        br
        | #{friend.email}
        br
        | #{friend.phone}
        br
        | #{friend.gender}
        br
        | #{friend.dob}
        br  
        
    .container
      form.form-inline.mr-auto(method="post" action="sendFrequest")
        //input.form-control.mr-sm-2(name="searchfriend" type='text', placeholder='Search a friend gmail', aria-label='Search')
        button.btn.btn-primary(type='submit',  data-toggle='modal', data-target='#exampleModal') Send invitation
        
  //-  .container
      br
      | #{friend.name}
      br
      | #{friend.email}
      br
      | #{friend.phone}
      br
      | #{friend.gender}
      br
      | #{friend.dob}
      br
    
        
        #exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title Friend request
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
              .modal-body
                | Your friend request has been sent.
              //-.modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes
