extends layoutBS

block content
  body
    .container
      form.form-inline.mr-auto(method="post" action="searchProfile")
        input.form-control.mr-sm-2(name="searchfriend" type='text', placeholder='Search a friend gmail', aria-label='Search')
        button.btn.btn-primary(type='submit') Search
    .container
      br
      | #{friend.name}
      br
      | #{friend.email}
      br
      | #{friend.phone}
      br
      | #{friend.gender}
      br
      | #{friend.dob}
      br
    .container
      form.form-inline.mr-auto(method="post" action="sendFrequest")
        input.form-control.mr-sm-2(name="searchfriend" type='text', placeholder='Search a friend gmail', aria-label='Search')
        button.btn.btn-primary(type='submit') Send invitation
