extends layoutBS
block head
  script.
    $(document).ready(function(){
      $("#friendqbutton").click(function(){
        alert("The invitation has been sent");
      });
    });

block content
  body
    br
    br
    br
    br
    .container
        br
        | #{friend.name}
        br
        | #{friend.email}
        br
        | #{friend.phone}
        br
        | #{friend.gender}
        br
        | #{friend.dob}
        br  
        br
        
      
    .container
      form.form-inline.mr-auto(method="post" action="sendFrequest")
        input.form-control(name="friendemail" type="hidden" value=friend.email)
        //-input.form-control.mr-sm-2(name="searchfriend" type='text', placeholder='Search a friend gmail', aria-label='Search')
        button#friendqbutton.btn.btn-primary(type='submit',  data-toggle='modal', data-target='#exampleModal') Send invitation
        
        
        //-#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
          .modal-dialog(role='document')
            .modal-content
              .modal-header
                h5#exampleModalLabel.modal-title Friend request
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') ×
              .modal-body
                | Your friend request has been sent.
              //-.modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                button.btn.btn-primary(type='button') Save changes
