extends layoutBS

block content
  body
    .margin
      h4.text-monospace Setting
      .row 
        .col-4
          #list-tab.list-group(role="tablist")
            a#list-profile-list.list-group-item.list-group-item-action.active(data-toggle="list" href="#profileSetting" role="tab" aria-controls="profile") Profile 
            a#list-event-list.list-group-item.list-group-item-action(data-toggle="list" href="#eventSetting" role="tab" aria-controls="event") Event
        .col-8
          #nav-tabContent.tab-content
            #profileSetting.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="list-profile-list")
              form.text-monospace(method="post" action="saveProfile")
                .row.text-monospace
                  .formGroup.col-md-4
                    label Name
                  .formGroup.col-md-6
                    input.form-control(name="name" type="text" value=user.googlename)
                br
                .row.text-monospace
                  .formGroup.col-md-4
                    label Email
                  .formGroup.col-md-6
                    input.form-control(name="email" type="email" value=user.googleemail)
                br
                .row.text-monospace
                  .formGroup.col-md-4
                    label Phone Number
                  .formGroup.col-md-6
                    input.form-control(name="phone" type="text" value=profile.phone)
                br
                .row.text-monospace
                  .formGroup.col-md-4
                    label Gender
                  .formGroup.col-md-6
                    select.text-monospace(name="gender").form-control
                      option(selected="") #{profile.gender}
                      option Male
                      option Female
                      option Other
                br
                .row.text-monospace
                  .formGroup.col-md-4
                    label Date of Birth
                  .formGroup.col-md-6
                    input.form-control(name="dob" type="date" value=profile.dob)
                br
                input.btn.btn-secondary.btn-lg(type="submit" value="SAVE")
    

            #eventSetting.tab-pane.fade(role="tabpanel" aria-labelledby="list-event-list")
    
