extends layoutBS

block head
  script(src="/js/add.js")

block content
  .body
    br
    br 
    br
    br 
    .margin
      .w3-container.w3-content.w3-padding-64.w3-light-grey.w3-center(style="max-width:1000px")        
        h4.w3-wide.w3-center
          i.fa.fa-plane.w3-large
          |  SEND EVENT TO
          b.w3-text-teal &nbsp&nbsp #{friendName}
        br
        br
        form(method="post" name = "myForm" action="send_Event")
          .row
            .col-2
              b.w3-text-teal Title
            .col-3
              label.w3-large #{event_doc.title}
              input(name="title" type="hidden" value=event_doc.title)
          br
          .form-row
            .formGroup.col-2
              b.w3-text-teal Start Time 
            .formGroup.col-4
              label.w3-large #{event_doc.startDate} &nbsp&nbsp #{event_doc.startTime}
              input(name="startDate" type="hidden" value=event_doc.startDate)
              input(name="startTime" type="hidden" value=event_doc.startTime)
            .formGroup.col-2
              input(type="checkbox" checked=event_doc.allDay name="allday")
              label.all-day-check All day 
          br
          .form-row
            .formGroup.col-2
              b.w3-text-teal End Time 
            .formGroup.col-4
              label.w3-large #{event_doc.endDate} &nbsp&nbsp #{event_doc.endTime}
              input(name="endDate" type="hidden" value=event_doc.endDate)
              input(name="endTime" type="hidden" value=event_doc.endTime)

          br
          br
          .form-row
            .formGroup.col-2
              b.w3-text-teal Description
            .col-6
              label.w3-large #{event_doc.description}
              input(name="description" type="hidden" value=event_doc.description)
          br
          .form-row
            .formGroup.col-2
              b.w3-text-teal Color 
            .formGroup.col-3
              label.w3-large #{event_doc.color}
            .col-2
            .col-1
              input.w3-button.w3-teal(type="submit" name = "send" value="Send")      
            .col-1
              a.w3-button.w3-grey(href="/calendar/sendCalendar/" + friend_id) Back
      br
      br
    
