extends layoutBS

block head
  script(src="/js/add.js")

block content
  .body
    br
    br 
    br
    br 
    .margin
      .w3-container.w3-content.w3-padding-64.w3-light-grey.w3-center(style="max-width:1000px")        
        h4.w3-wide.w3-center 
          i.fa.fa-check-square-o.w3-large
          |  UPDATE EVENT
        br
        br
        form(method="post" name = "myForm" action="" onsubmit="return validateForm()")
          .row
            .col-2
              label Title
            .col-6
              .input-group.md-3
                input.form-control(name = "title" type = "text" placeholder = "Add Event Title" width='60%' value=event_doc.title)
          br
          .form-row
            .formGroup.col-2
              label Start Time 
            .formGroup.col-3
              input.form-control(type="date" name="startDate" value=event_doc.startDate)
            .formGroup.col-3
              input.form-control(type="text" name="startTime" placeholder="e.g. 10:00" value=event_doc.startTime)
            .formGroup.col-2
              input(type="checkbox" class = "all-day-check" name = "allDay" checked=event_doc.allDay) 
              label.all-day-check All day 
          br
          .form-row
            .formGroup.col-2
              label End Time 
            .formGroup.col-3
              input.form-control(type="date" name="endDate" value=event_doc.endDate)
            .formGroup.col-3
              input.form-control(type="text" name="endTime" placeholder="e.g. 13:00" value=event_doc.endTime)
          br
          br
          .form-row
            .formGroup.col-2
              label Description
            .formGroup.col-6
              input.form-control(type="text" name="description" placeholder = "Include event details here" value=event_doc.description)
          br
          .form-row
            .formGroup.col-2
              label Color 
            .formGroup.col-3
              select(name="color" ).form-control
                option(selected="") #{event_doc.color}
                option(name = "...") ...
                option(name = "green") Green
                option(name = "grey") Grey                
                option(name = "pink") Pink
                option(name = "red") Red
                option(name = "yellow") Yellow
            .col-2
            .col-1
              input.w3-button.w3-teal(type="submit" name = "update" value="Update")
            .col-2
              input.w3-button.w3-red(type="submit" name = "delete" value="Delete")        
            .col-1
              a.w3-button.w3-grey(href="/calendar/calendarD") Back
      br
      br
    
